
body {
	margin: 0px;
	text-align: center;
	background-color: #fff;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	overflow:hidden;
}

#container {
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

#header {
	padding: 80px;
}

#form {
	margin-left: 60px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 28px;
	padding: 50px;
}

#form input {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 28px;
	padding: 5px;
}

#bookmarklet { text-align: center;}

#footer {
	font-size: 12px;
	margin-top: 40px;
	padding: 50px;
	text-align: center;
}