<% form_for :link, @link, :url => {:controller => :links ,:action => 'create'}  do |f| %>
  <label for="link_website_url">Type in a URL to Zombify:</label>
  <%= f.text_field :website_url %>
  
  <%= submit_tag 'BRAAAAIIINS!' -%>
<% end %>