<iframe src="<%= @link.website_url %>" style="position: fixed; top:0; left:0; width: 100%; height: 100%" frameborder='0' marginheight='0' marginwidth='0' scrolling='auto'></iframe>
<a href='/images/photos/image1.jpg' id='zombie' class='hide'></a>
