<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>ZombieURL - The #1 zombie-infected URL redirection service on the Web.</title>
		<link type="text/css" rel="Stylesheet" media="screen" href="/stylesheets/master.css"/>
</head>
  <body>
		<%= yield %>		
	</body>
</html>